@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: max-content;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Open Sans', sans-serif;
font-family: 'Public Sans', sans-serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Public Sans, sans-serif !important;
}

h5 {
  font-weight: 300 !important;
}

h6 {
  font-weight: 100 !important;
}

#font-mono {
  font-family: "Major Mono Display", monospace !important;
}

#font-oswald {
  font-family: "Oswald", sans-serif !important;
}

p {
  font-family: "Public Sans", sans-serif !important;
}

button,
input,
textarea {
  border-radius: 0px !important;
}

/* .scrollable-content::-webkit-scrollbar {
  width: 3px;
}
.scrollable-content::-webkit-scrollbar * {
  background: transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.1) !important;
}

::-webkit-scrollbar-thumb {
  background: #90caf9;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: #6dbbfb;
} */
